## Load data into pandas

In [2]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
print(df.tail(3))

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df.head(3))#top 3 rows print krni ho tou

# df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t') #delimiter isko column wise krdega delimiter='xxx'
# print(df_txt.head(3))#top 3 rows print krni ho tou

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [64]:
#Read headers
df.columns

#Read each column
# df['Name'][0:5] #also do this df.Name

# df[['Name', 'Type 1', 'HP']]

#Read each row
# print(df.iloc[0:4]) #iloc = int location
# for index, row in df.iterrows():
# #     print(index, row)
#     print(index, row['Name'])

# df.loc[df['Type 1'] == "Fire"] #used for finding specific data based on numerical info
# df.loc[df['Type 1'] == "Grass"]

#Read specific location (R,C)
# df.iloc[2,1]
# df.iterrows()

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## Sorting/Describing Data

In [3]:
# df.describe() #just do statistics on columns of data
# df.sort_values('Name', ascending=False)

df.sort_values(['Type 1', 'HP'], ascending=[1,0]) # Type1=asc and Hp=desc

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## MAking Changes to Data

In [4]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] #ek br run krke agr isko comment b kredengy phr b data set me save hjaega yeh
# df = df.drop(columns=['Total']) # to delelte column

df['Total'] = df.iloc[:, 4:10].sum(axis=1) #[:, 4:9] means all rows axis= 1 for rows otherwise axis=0 means columns

#Now we try to place total columns after type2 col
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] #This change doesn't midify our data file

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving Our Data (Exporting into Desired Format)

In [68]:
# df.to_csv('Modified.csv', index=False) # it create new files of our modified data set
# df.to_excel('Modified.xlsx', index=False)
# df.to_csv('Modified.txt', index=False, sep='\t') #separate by tabs

## Filtering Data

In [11]:
# df.loc[df['Type 1'] == 'Grass']

# new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

# new_df.reset_index(drop=True, inplace=True) #to reset current index drop=true to remove old index

# new_df

# new_df.to_csv('filtered.csv')

# df.loc[df['Name'].str.contains('Mega')] #shows all rows that contain Mega name
# df.loc[~df['Name'].str.contains('Mega')]

import re
# df.loc[df['Type 1'].str.contains('fire | grass', regex=True)] #it gave us nothing bcz no type 1 contain lowercase first letter
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)] 
# df.loc[df['Name'].str.contains('pi[a-z]*', flags=re.I, regex=True)] #give us those which have pi in their names
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] #give us those which have pi in their start

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

## Conditional Changes

In [18]:
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer' #to change type1 fire to flamer
# df

# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test1', 'Test2']

# df = pd.read_csv('Modified.csv')
# df

## Aggregate Statistics(Groupby)

In [29]:
# df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
# df.groupby(['Type 1']).sum()

df['count'] = 1 #adding count column by ourself
# df.groupby(['Type 1']).count() #to get all rows of type1 wrt count
# df.groupby(['Type 1']).count()['count'] # to get only count column

df.groupby(['Type 1', 'Type 2']).count()['count'] # to get only count column

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

 ## Working with large amount of data

In [36]:
# for df in pd.read_csv('Modified.csv', chunksize=5): #chunksize is used when we have very large amount of rows and we just want to used 1000 rows at a time so we take chunksize=1000
#  print("Chunk size")
#  print(df)

# new_df = pd.DataFrame(columns=df.columns)

# for df in pd.read_csv('Modified.csv', chunksize=5):
#     results = df.groupby(['Type 1']).count()
    
#     new_df = pd.concat([new_df, results])

# new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2